
# IDE
.idea
.vscode

# mac
.DS_Store

# svn
.svn

# .bak
*.bak

# node | npm | yarn
node_modules
code/node_modules/
code/npm-debug.log
code/npm-lock.log
code/yarn.lock

# logs

# download excel

# general css

# temp file
